{% extends "blank.html" %}

{% load static %}

{% block content %}

<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="{% url 'home' %}" class="h1"><b>DMS</b>lite</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Zaloguj się aby rozpocząć</p>
  
        <form  method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            {{ form.email }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.password }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Zaloguj </button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        {% if form.non_field_errors %}
        <div class="non-field-errors" style="color: red;">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  
    <div class="social-auth-links text-center mb-3">
    </div>
  
        <p class="mb-1">
          <a href="{% url 'email_reset' %}">Zapomniałem hasła</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'register' %}" class="text-center">Zarejestruj się</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>


</div>

{% endblock %}