{% extends "blank.html" %}

{% load static %}

{% block content %}

<div class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{% url 'home' %}" class="h1"><b>DMS</b>lite</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Zarejestruj się już teraz</p>

      <form method="post">

        {% csrf_token %}

        <div class="input-group mb-3">
          {{ form.username }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          {{ form.email }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password1 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password2 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
      
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block "style="font-size:0.9rem"><b>Zarejestruj</b></button>
          </div>
          <!-- /.col -->
        </div>
      </form>

                      {% if form.non_field_errors %}
      <div class="non-field-errors" style="color: red;">
          <ul>
              {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </div>
  {% endif %}
      <a href="{% url 'login' %}" class="text-center">Mam juz konto</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
</div>
{% endblock %}